// @font-face {
//   font-family: 'Dosis';
//   src: url(../Font/Dosis/static/Dosis-Regular.ttf);
// }
//$dosis: "Dosis";
$website-width: 1280px;
/*colors*/
$white: #fff;
$main-color: #ffbb00;
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #333;
$bg-img: url(..//Img/showcase.webp);