/*colors*/
.container {
  max-width: 1280px;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
}

.btn-main, .btn-light, .btn-dark {
  display: inline-block;
  padding: 0.8rem 2rem;
  border: none;
  cursor: pointer;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}

.btn-main {
  color: #333;
  background: #ffbb00;
}

.btn-light {
  color: #333;
  background: #f4f4f4;
}

.btn-dark {
  color: #f4f4f4;
  background: #333;
}

button[class^="btn-"]:hover,
a[class^="btn-"]:hover,
input[class^="btn-"]:hover {
  background-color: #ffbb00;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.text-center {
  text-align: center;
}

.bottom-line {
  height: 2px;
  width: 3rem;
  background: #ffbb00;
  display: block;
  margin: 0 auto 1rem auto;
}

.items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  margin-bottom: 4rem;
}

.items-alt {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  margin-bottom: 4rem;
}

.bg-light {
  background: #f4f4f4;
}

.bg-medium {
  background: #ccc;
}

.section-title {
  font-size: 2rem;
  display: block;
  padding-bottom: 0.5rem;
  text-align: center;
  font-weight: 100;
  text-transform: uppercase;
}

/*colors*/
.container {
  max-width: 1280px;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
}

.btn-main, .btn-light, .btn-dark {
  display: inline-block;
  padding: 0.8rem 2rem;
  border: none;
  cursor: pointer;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}

.btn-main {
  color: #333;
  background: #ffbb00;
}

.btn-light {
  color: #333;
  background: #f4f4f4;
}

.btn-dark {
  color: #f4f4f4;
  background: #333;
}

button[class^="btn-"]:hover,
a[class^="btn-"]:hover,
input[class^="btn-"]:hover {
  background-color: #ffbb00;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.text-center {
  text-align: center;
}

.bottom-line {
  height: 2px;
  width: 3rem;
  background: #ffbb00;
  display: block;
  margin: 0 auto 1rem auto;
}

.items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  margin-bottom: 4rem;
}

.items-alt {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  margin-bottom: 4rem;
}

.bg-light {
  background: #f4f4f4;
}

.bg-medium {
  background: #ccc;
}

.section-title {
  font-size: 2rem;
  display: block;
  padding-bottom: 0.5rem;
  text-align: center;
  font-weight: 100;
  text-transform: uppercase;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  line-height: 1.6;
  background: #fff;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

img {
  width: 100%;
}

#logo {
  width: 20%;
  color: #fff;
  text-transform: uppercase;
  background-color: #fff;
  padding: .5rem;
}

#main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 1rem;
  position: relative;
  z-index: 10;
}

#main-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#main-nav li {
  padding: 1rem 1.5rem;
}

#main-nav a {
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  border-bottom: 3px transparent solid;
  padding-bottom: 0.5rem;
  -webkit-transition: border-color 0.8s;
  transition: border-color 0.8s;
}

#main-nav a:hover {
  border-color: #ccc;
}

#main-nav a.current {
  border-color: #ffbb00;
}

h1.mylogo {
  font-size: 3rem;
  cursor: default;
}

#header-home {
  background: url(..//Img/showcase.webp) no-repeat center right/cover;
  height: 80vh;
  color: #fff;
  position: relative;
}

#header-home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.712);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 1;
}

#header-home .header-content {
  position: relative;
  text-align: center;
  padding-top: 15%;
  z-index: 10;
}

#header-home .header-content h1 {
  font-size: 4rem;
  line-height: 1.2;
}

#specialize .upper {
  margin-top: 2rem;
}

#specialize .upper h2 {
  font-size: 2rem;
  padding-bottom: 0.5rem;
  font-weight: normal;
}

#specialize .item {
  padding: 1rem;
  border: 3px solid #ffbb00;
  -webkit-transition: all .4s;
  transition: all .4s;
  cursor: default;
}

#specialize .item h3 {
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
}

#specialize .item:hover {
  background-color: #333;
  color: #fff;
}

#info ul {
  padding: 2rem;
}

#info ul i {
  margin-bottom: 1rem;
}

#info ul .txt {
  font-size: 1.7rem;
}

#info ul .num {
  font-size: 2rem;
  font-weight: bold;
}

#home-c .process {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

#home-c .process-step {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 28px;
  background: #ffbb00;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  line-height: 15px;
  padding: 1rem;
  -webkit-transition: all 1s;
  transition: all 1s;
}

#home-c .process-icon {
  border-radius: 50%;
  background: #333;
  color: #fff;
  padding: 2rem;
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  position: relative;
  -webkit-transition: all 1s;
  transition: all 1s;
}

#home-c .process-icon:hover {
  background: #ffbb00;
  width: 90px;
  height: 90px;
  line-height: 90px;
}

#home-c .process-icon:hover .process-step {
  background: #333;
}

#home-c .process h3 {
  margin: 1rem 0;
  font-size: 1.3rem;
}

/*About*/
#header-about {
  background: url(..//Img/showcase.webp) no-repeat 20% 30%/cover;
  height: 5.5rem;
  border-bottom: 3px #ffbb00 solid;
}

#about-a {
  margin-top: 5%;
  margin-bottom: 5%;
}

#about-a .about-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.2rem;
}

#about-a .about-content .about-desc {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / span 2;
  background-color: #f4f4f4;
  border-left: 3px solid #ffbb00;
  padding-top: 2rem;
}

#about-a .about-content .process-icon {
  color: #ffbb00;
  padding: 0.7rem 0;
}

#about-a .about-content h3 {
  padding: 0.5rem 0;
}

#about-c {
  margin-bottom: 4rem;
  background-color: #f4f4f4;
}

#about-c .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 3rem;
  padding: 4rem 0;
}

#about-d {
  margin-bottom: 4rem;
}

#about-d .testimonials {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

#about-d .testimonials .testimonial .bio {
  border: 1px solid #ccc;
  text-align: center;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1rem;
}

#about-d .testimonials .testimonial img {
  width: 60px;
  border-radius: 50%;
}

#about-d .testimonials .testimonial .person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#about-d .testimonials .testimonial .person p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  margin-left: 1rem;
}

/*work*/
#work-a {
  margin: 2rem 0;
}

.work-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
}

.work-item {
  position: relative;
  background: #ffbb00;
  overflow: hidden;
}

.work-item:hover .work-item-image {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.work-item-image {
  height: auto;
  display: block;
  -webkit-transition: -webkit-transform 750ms;
  transition: -webkit-transform 750ms;
  transition: transform 750ms;
  transition: transform 750ms, -webkit-transform 750ms;
}

.work-item-image:before {
  content: "";
  display: block;
  padding-top: 75%;
  overflow: hidden;
}

.work-item-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 0;
}

#contact .input {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  margin-bottom: 5rem;
}

#contact .input input {
  padding: 0.7rem;
}

#contact .input input:focus {
  border: none;
  outline: 3px solid #ffbb00;
}

#contact .input textarea {
  padding: 1rem 0 0 1rem;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
}

#contact .input textarea:focus {
  border: none;
  outline: 3px solid #ffbb00;
}

#contact .btn-dark {
  margin-bottom: 3rem;
  width: 50%;
  border-radius: 5px;
}

#contact-b .contacts {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 5rem;
  background-color: #333;
  color: #fff;
  padding: 4rem;
  text-align: center;
}

#main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #333;
  color: #fff;
  height: 5rem;
  border-top: 4px solid #ffbb00;
}

#main-footer p {
  padding-left: 1rem;
  font-size: 1.2rem;
}

#main-footer a {
  color: #fff;
}

#main-footer .icons .a {
  margin-right: 1rem;
  border: 2px #fff solid;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  line-height: 20px;
  text-align: center;
  padding: 0.5rem;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#main-footer .icons .a:hover {
  background: #ffbb00;
}

#main-footer svg {
  margin-right: 1rem;
  border: 2px #fff solid;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  line-height: 20px;
  text-align: center;
  padding: 0.5rem;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#main-footer svg:hover {
  background: #ffbb00;
}

.process-items {
  background: #ccc;
  padding: 3rem;
  border-left: 5px solid #ffbb00;
}

#main-nav {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-nav li {
  padding: 1rem;
}

#header-home {
  height: 10rem;
}

#header-home .header-content {
  display: none;
}

#header-about {
  height: 10rem;
}

.items {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.item {
  border-bottom: 1px solid #ccc;
  padding-bottom: 2rem;
}

.item:last-child {
  border: none;
}

.items-alt {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

#home-c .process {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

#about-a .about-content {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

#about-a .about-content .about-desc {
  -ms-grid-column: 1;
  grid-column: 1;
}

#about-c {
  display: none;
}

#about-d {
  margin-top: 2rem;
}

#about-d .testimonials {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.work-items {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

#contact .input {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

#contact .input input {
  margin-top: 0.1rem;
}

#contact .input textarea {
  -ms-grid-column: 1;
  grid-column: 1;
}

#contact-b .contacts {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

#contact-b .contacts .address {
  border-bottom: solid 1px #f4f4f44b;
  padding-bottom: 1.2rem;
}

#contact-c {
  font-size: 2rem;
}

#main-footer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
}
/*# sourceMappingURL=mobile.css.map */